
{% extends "base.html" %}

{% block metatags %}
<title>Login | Minimal+User</title>
<meta name="description" content="Login for the Minimal+User, a site showcasing useful tech.">
{% endblock %}

{% block contents %}
<div class="container">
  <div>
    <ol class="breadcrumb small">
        <li class="breadcrumb-item"><a href="{{url_for('bl_home.index')}}">Home</a></li>
        <li class="breadcrumb-item" aria-current="page">Login</li>
    </ol>
  </div>
  
  <h1>Login</h1>

  <section class="px-4 py-4 px-md-5 mt-4 text-center text-lg-start" style="background-color: hsl(0, 0%, 96%)">
    <div class="row gx-lg-5 align-items-center">
      <div class="col-lg-6 mb-4 mb-lg-0">
        <h4 style="color: hsl(217, 10%, 50.8%)">
          Use the access key you received via email to unlock the photogallery and see all the pictures.
        </h4>
        <div class="row justify-content-center">
          <div class="col-8"><img src="{{url_for('static',filename='/images/minimal-user.png')}}" style="width: 100%;"></div>
        </div>
      </div>

      <div class="col-lg-6 mb-5 mb-lg-0">
        <div class="card">
          <div class="card-body py-5 px-md-5">
            <form method="post">
              <!-- Email input -->
              <div class="form-outline mb-4">
                <label class="form-label" for="email">Email address</label>
                <input type="email" id="email" name="email" class="form-control" required />
              </div>

              <!-- Password input -->
              <div class="form-outline mb-4">
                <label class="form-label" for="key">Access key</label>
                <input type="password" id="key" name="key" class="form-control" required/>
              </div>
              <p class="text-center mb-0 text-muted">Can't find your access key?<br> Click <a href="{{url_for('bl_auth.forgotkey')}}">here</a> to get a new one!</p>

              <!-- Submit button -->
              <div class="text-center">
                <button type="submit" class="btn btn-primary btn-block mb-3 mt-4" name="btn_unlock">
                  Login
                </button>
                <p class="text-muted"><a href="{{url_for('bl_auth.signup')}}">Sign up</a> to get your access key</p>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock %}